
    .deleteFrame{
    display: flex;
    flex-direction: column;
   
    }

    .checkBut{
        position: relative;
        right: -20px;
        top: -18px;
      
    }
    .checkBut-false{
        position: relative;
        right: -20px;
        top: -18px;
    }
    .TodolistBox{
        border-radius: 8px;
        border: 1px solid rgb(194, 190, 255);
        background-color: white;
        width: 350px;
        margin: 10px 0 10px 0;
        box-shadow: 4px 4px rgb(194, 190, 255)
       
    }
    .changeButton{
        flex-direction: row;
        flex-grow: 0;
        position: relative;
        right: -200px;
        top: -23px;
        color: white;
       background-color:rgb(194, 190, 255);
       border-radius: 4px ;
       border-color: rgb(167, 161, 255);
      margin-right: 2px;
    }
    .deleteButton{
        flex-direction: row;
        flex-grow: 0;
        position: relative;
        right: -200px;
        top: -23px;
        color: white;
       background-color:rgb(194, 190, 255);
       border-radius: 4px ;
       border-color: rgb(167, 161, 255);
      
    }